#gallery-cell {
  display: flex;
  border: 10px solid #b6ae91;
  background-color: #ebe1bf;
  margin: 40px;
  border-radius: 20px;
  padding: 20px;
  line-height: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  align-items: center;
  justify-content: space-between;
  font-size: 30px;
  padding-left: 100px;

  img {
    border-radius: 20px;
    height: 300px;
    width: auto;
  }

  b {
    font-size: 30px;
  }
}
