<div id="gallery-cell">
  <div>
    <h1><b>Doge</b></h1>
  </div>
  <div>
    Doge este un câine shiba inu.<br>Este jucăuș și își dorește un stăpân iubitor.
  </div>
  <img src="../../../assets/gallery/shiba.jpg" />
</div>

<div id="gallery-cell">
  <div>
    <h1><b>Jimmy</b></h1>
  </div>
  <div>
    Jimmy este o pisică tigrată.<br>Este cuminte și îi place să se joace cu șoricei de jucărie.
  </div>
  <img src="../../../assets/gallery/tabby.jpg" />
</div>

<div id="gallery-cell">
  <div>
    <h1><b>Tad</b></h1>
  </div>
  <div>
    Tad este o iguană albastră.<br>Este liniștită și îi plac fructele.
  </div>
  <img src="../../../assets/gallery/iguana.jpg" />
</div>

<div id="gallery-cell">
  <div>
    <h1><b>Jazz</b></h1>
  </div>
  <div>
    Jazz este un papagal nimfă.<br>Știe să facă cucu-bau și îi place să vorbeascsă.
  </div>
  <img src="../../../assets/gallery/tiel.jpg" />
</div>

<div id="gallery-cell">
  <div>
    <h1><b>Lori</b></h1>
  </div>
  <div>
    Lori este un iepure gri.<br>Îi place salata și este foarte jucăușă.
  </div>
  <img src="../../../assets/gallery/bunny.jpg" />
</div>
