<div id="toolbar-style">
  <mat-toolbar [class.mat-elevation-z2]="true">
    <mat-toolbar-row>
      <a id="logo-button" mat-button [routerLink]="'/pagina-principala'">
        <br />
      </a>
      <div>
        <a mat-button [routerLink]="'/pagina-principala'">
          Pagina principală
        </a>
        <a mat-button [routerLink]="'/galerie'"> Galerie </a>
        <a mat-button [routerLink]="'/contact'"> Contact </a>
      </div>
    </mat-toolbar-row>
    <mat-toolbar-row> Nu cumpăra, adoptă!</mat-toolbar-row>
  </mat-toolbar>
  <router-outlet></router-outlet>

  <button mat-mini-fab color="warn" title="Go to top" id="myBtn" (click)="scrollToTop()" [ngClass]="{ 'show-scrollTop': windowScrolled }">
    <mat-icon>arrow_upward</mat-icon>
  </button>
  <footer>
    <p>Site realizat de Dragomir Alexandru Mario. Sursa imaginilor: <a href="https://www.freepik.com">Freepik</a></p>
  </footer>
</div>


